**/__pycache__/
**/*.pyc
backend/data/
backend/data_old/
data/
uploads/
backend/vapid_keys.json
backend/subscriptions.json
backend/admin_pass.json
backend/staff.json
.vscode/
.git/
.github/
.venv/
venv/
build/
dist/
*.spec
*.log
*.zip
.env
.env.local